# Chicago Payroll Data Exercise Solution

**1. Import pandas as pd.**

In [1]:
import pandas as pd

**2. Read City_of_Chicago_Payroll_Data.csv as a dataframe in pay.**

In [ ]:
pay = pd.read_csv(r"E:\Data_science&Machine_learning\Pandas\City_of_Chicago_Payroll_Data.csv")

**3. Show first five records in your data.**

In [5]:
pay

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN
...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,$115932.00,NaN

**3. Get the overview of your data.<br>**

In [ ]:
pay

In [6]:
pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32658 entries, 0 to 32657
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               32658 non-null  object
 1   Job Titles         32658 non-null  object
 2   Department         32658 non-null  object
 3   Full or Part-Time  32658 non-null  object
 4   Salary or Hourly   32658 non-null  object
 5   Typical Hours      7883 non-null   float64
 6   Annual Salary      24775 non-null  object
 7   Hourly Rate        7883 non-null   object
dtypes: float64(1), object(7)
memory usage: 2.0+ MB

**4. How many 'NaN' you have in each column in your data?**

In [ ]:
pay.isnull().sum()

**5. Output the statistics for your dataset.**

In [ ]:
pay.describe(include='all')

**6. What are the maximum, minimum and average Typical Hours?**

In [ ]:
print('Max Typical Hours are:', pay['Typical Hours'].max())
print('Min Typical Hours are:', pay['Typical Hours'].min())
print('Mean/Avg Typical Hours are:', pay['Typical Hours'].mean())

**7. How many employees are on salary and how many are working on hourly basis?**

In [ ]:

pay.groupby('Salary or Hourly').count()['Name']

In [ ]:
pay['Salary or Hourly'].value_counts()

**8. Which department has maximum no of employees?**

In [ ]:
pay.groupby('Department').count()['Name'].idxmax()

In [ ]:
pay.groupby('Department').count().sort_values(by='Name', ascending=True)['Name'].head(1)

In [ ]:
pay['Department'].value_counts()

**9. How many employees are on Salary and how many are on Hourly in the Police department?**

In [ ]:
pay['Department']=='POLICE'

In [ ]:
pay[pay['Department'] ==  'POLICE']

In [ ]:
pay['Department']=='POLICE'

In [ ]:
pay[pay['Department'] == 'POLICE'].groupby('Salary or Hourly').count()

In [ ]:
pay[pay['Department']=='POLICE'].groupby('Salary or Hourly').count()['Name']

In [ ]:
pay[pay['Department']=='POLICE'].groupby('Salary or Hourly').count()

In [ ]:
df = pay[pay['Department']=='POLICE']
df['Salary or Hourly'].value_counts()

**10. What are the mean, max and min salaries?**<br>

In [ ]:
pay

In [ ]:
pay['Salary'] = pay['Annual Salary'].str.replace('$', '').astype(float)

In [ ]:
pay

In [ ]:
print('min:', pay['Salary'].min())
print('max:', pay['Salary'].max())  
print('mean:', pay['Salary'].mean())

In [ ]:

pay.head(2)

**11. Find an employee who has the maximum salary.**

In [ ]:
pay[pay['Salary'] == pay['Salary'].max()]

**12. Find an employee who has the minimum salary.**

In [ ]:
pay[pay['Salary'] == pay['Salary'].min()]

**13. What are the mean, max and min Hourly Rate?**

In [ ]:
pay['H_Rate']=pay['Hourly Rate'].str.replace('$', '').astype(float)

In [ ]:

pay

In [ ]:
print('min H_Rate :', pay['H_Rate'].min())
print('max H_Rate :', pay['H_Rate'].max())
print('mean H_Rate :', pay['H_Rate'].mean())

**14. How many employees are getting max Hourly Rate?**

In [ ]:
pay[pay['H_Rate']==pay['H_Rate'].max()].count()['Name']

**15. Who is getting max Hourly Rate?**

In [ ]:
pay[pay['H_Rate']==pay['H_Rate'].max()]['Name']

**16. How many employees are earning less than the average Hourly Rate?**

In [ ]:
pay[pay['H_Rate'] < pay['H_Rate'].mean()].count()['H_Rate']

**17. How many employees are paid hourly and they have full-time job?**

In [ ]:
pay[(pay['Salary or Hourly']=='Hourly') & (pay['Full or Part-Time']=='F')].count()['Name']

In [ ]:
pay[(pay['Hourly Rate'].notnull()) & (pay['Full or Part-Time']=='F')].count()['Full or Part-Time']

**18. Find the full-time employees who are working at hourly rate of $10.00?**

In [ ]:
pay[(pay['Full or Part-Time']=='F') & (pay['H_Rate']==10)]

**19. How many unique Job Titles are there in the data?**

In [ ]:
pay['Job Titles'].nunique()

**20. What was the average Salary of the employees in each department?**

In [ ]:
pay.groupby('Department').mean()['Salary']

**21. What is the job title of 'AGAR,  BULENT B'?**

In [ ]:
pay[pay['Name']=='AGAR,  BULENT B']['Job Titles']

**22. What are the top most common job titles?**

In [ ]:
pay['Job Titles'].value_counts().head(1)

**23. How many people have the word 'officer' in their job title? (This is pretty tricky)**

In [ ]:
def find_string(title):  
    if 'officer' in title.lower(): 
        return True
    else:
        return False

In [ ]:
pay['Job Titles'].apply(find_string)

In [ ]:
pay['Job Titles'].apply(find_string).sum()

In [ ]:
sum(pay['Job Titles'].apply(find_string))

In [ ]:
pay

**24. Save the final dataframe to a csv file**

In [ ]:
pay.to_csv('xyz.csv')